!Software2/__pycache__/
Software2/__pycache__/*

!Software2/migrations/__pycache__/
Software2/migrations/__pycache__/*

!Software2/plantillas/__pycache__/
Software2/plantillas/__pycache__/*

!ScriptsBaseDeDatos/__pycache__/
ScriptsBaseDeDatos/__pycache__/*

!GestionDeCitas/__pycache__/
GestionDeCitas/__pycache__/*

!GestionDeCitas/migrations/__pycache__/
GestionDeCitas/migrations/__pycache__/*

!administrador/__pycache__/
administrador/__pycache__/*

!administrador/migrations/__pycache__/
administrador/migrations/__pycache__/*

!Informes/__pycache__/
Informes/__pycache__/*

!Informes/migrations/__pycache__/
Informes/migrations/__pycache__/*

!Autenticacion/__pycache__/
Autenticacion/__pycache__/*

!Autenticacion/migrations/__pycache__/
Autenticacion/migrations/__pycache__/*
