{% extends "plantilla.html" %}

{% block title %}Agendamiento Citas{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<body>
    <div>
        <h1 style="text-align: center;">Formulario de Registro</h1>
        <hr>
    </div>
    <div>
        <form>
            <div class="form-row" style="margin-left: 75px;">
                <div class="form-group col-md-6">
                    <h4 for="nombre">Tipo de Cita</h4>
                    <hr>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Selecciona el tipo de cita
                        </a>
                        <p>
                            <br>
                        </p>
                        <div>
                            <select required name="TipoDeCita" > 
                                <option selected="selected" disabled>Selecciona la opción ...</option> 
                                    <option value="virtual">Virtual</option>
                                    <option value="presencial">Presencial</option>  
                            </select>   
                         
                        </div>
                    </div>    
                    <div class="form-group col-md-6">
                        <h4 for="nombre">Elegir Especialidad</h4>
                        <hr>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Elige la Especialidad
                            </a>
                            <p>
                                <br>
                            </p>
                            <div>
                                <select required name="Especialidad" > 
                                    <option selected="selected" disabled>Selecciona la opción ...</option>
                                        <option value="general">Medicina General</option>    
                                        <option value="dermatologia">Dermatologia</option>
                                        <option value="interna">Medicina Interna</option>    
                                        <option value="pediatria">Pediatria</option>
                                        <option value="cirugia">Cirugía General</option>
                                        <option value="ginecologia">Ginecologia</option>
                                        <option value="dermatologia">Dermatologia</option> 
                             
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <h4 for="nombre">Elegir Medico</h4>
                        <hr>
                        <div>
                            <select required name="medico" > 
                                <option selected="selected" disabled>Selecciona la opción ...</option> 
                                    {% for elemento in medicos %}
                                    <option >{{elemento}}</option> 
                                    {% endfor %}    
                         
                        </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                            <h4 for="nombre">Elegir Horario</h4>
                            <hr>
                            <div>
                                <select required name="horarios" > 
                                    <option selected="selected" disabled>Selecciona la opción ...</option> 
                                    {% for elemento in horarios %}
                                    <option >{{elemento}}</option> 
                                    {% endfor %}  
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h4 for="nombre">Motivo de consulta</h4>
                            <hr>
                            <textarea name="motivo_consulta" rows="10" cols="50"> </textarea>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <hr>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary"><a href="#" style="color: aliceblue;"> Agendar Cita </a> </button>
                    </div>
                </div>
            </div>
            </form>
    </div>
</body>
</html>

{% endblock %}