{% extends "plantilla.html" %}

{% block title %}Agendar cita IPS{% endblock %}

{% block content %}

<div style="margin-bottom:30px">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
        {{message}}
        </div>
    {% endfor %}
    </ul>
    {% endif %}
</div>

<html>
<body>    
        <form action="/getEspecialidad/" method="GET">
        <div>
            <select required name="especialidad_categoria"> 
                <option selected="selected" disabled>Selecciona la opción ...</option> 
                {% for elemento in lista_especialidad %}
                    <option value="{{elemento.especialidad}}">{{elemento.especialidad}}</option> 
                {% endfor %}
                <input type="submit" class="btn btn-success" value="seleccionar">
            </select>
        </form>
            <br>
        <form action="/getMedicos/" method="GET">
            <select required name="medico_categoria"> 
                <option selected="selected" disabled>Selecciona la opción ...</option> 
                {% for elemento in lista_medico %}
                    <option value="{{elemento.medico}}">{{elemento.medico}}</option> 
                {% endfor %}
                <input type="submit" class="btn btn-success" value="seleccionar">
            </select>
        </form>

        <form action="/getHorario/" method="GET">
            <select required name="horario_categoria"> 
                <option selected="selected" disabled>Selecciona la opción ...</option> 
                {% for elemento in lista_horario %}
                    <option value="{{elemento.horario}}">{{elemento.horario}}</option> 
                {% endfor %}
                <input type="submit" class="btn btn-success" value="seleccionar">
            </select>
        </form>
        <br>  
        </div>   
        <button type="submit">Guardar</button>

    <script>
        $(function(){
        $('select[name="especialidad_categoria"]').on('change',getEspecialidad(){
            alert('Selección realizada');
        });
        });
    </script>
</body>
</html>
{% endblock %}