{% extends "plantilla.html" %}
{% block title %}Agendar cita IPS{% endblock %}
{% load static %}

{% block content %}
<html>
{% block head %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
<body> 
    <div style="margin-bottom:30px">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{message}}
            </div>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                   Whatever it takes :3
                </h3>
            </div>
           <div class="card-body">
                <div class="form-group">
                    <label>Especialidades:</label>
                    {{form.especialidades}}
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Medicos:</label>
                    {{form.medicos}}
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Horarios:</label>
                    {{form.horarios}}
                </div>
            </div>
        </div>
    </form>
 
    <script>
        $(function(){
            $('select[name="especialidades"]').on('change',function(){
                var especialidad= $(this).val();  
                var select_medicos = $('select[name=medicos]');

                var options = '<option value=""></option>';
                if (especialidad === '') {
                    select_medicos.html(options);
                    return false;
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'buscar_medico_por_especialidad',
                        'especialidad': especialidad
                    },
                    dataType: 'json'
                }).done(function (data) {
                    console.log("Especialidad escogida\n")
                    console.log(especialidad);
                    if(!data.hasOwnProperty('error')) {
                        $.each(data, function (key,value) {
                            options +='<option value="'+value.PrimerNombre+'">'+value.PrimerNombre+" "+value.PrimerApellido+'</option>';
                        });
                        return false;
                    }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                    select_medicos.html(options);
                });
            });  
        });
    </script>

    <script>
        $(function(){
            $('select[name="medicos"]').on('change',function(){
                var medico = $(this).val();  
                var select_horarios = $('select[name=horarios]');

                var options = '<option value=""></option>';
                if (medico === '') {
                    select_horarios.html(options);
                    return false;
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'buscar_horario_por_medico',
                        'medico': medico
                    },
                    dataType: 'json'
                }).done(function (data) {
                    console.log("Medico Escogido\n")
                    console.log(medico);
                    if(!data.hasOwnProperty('error')) {
                        $.each(data, function (key, value) {
                            options +='<option value="'+value.Horarios+'">'+value.Horarios+'</option>';
                        });
                        return false;
                    }
                    console.log(data)
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                    select_horarios.html(options);
                });
            });  
        });
    </script>

    <script>
        $(function(){
            $('select[name="horarios"]').on('change',function(){
                var horario = $(this).val();  

                if (horario === '') {
                    return false;
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'seleccionar_horario',
                        'horario': horario
                    },
                    dataType: 'json'
                }).done(function (data) {
                    console.log("Horario Escogido\n")
                    console.log(horario);
                    if(!data.hasOwnProperty('error')) {
                        console.log(data)
                        return false;
                    }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                })
            });  
        });
    </script>
    
</body>
</html>
{% endblock %}