{% extends "plantilla.html" %}

{% block title %}Citas del Día{% endblock %}

{% block content %}

<div align="center">
    <h1>Citas del Día</h1>
</div>
<div align="center">
    <br>
    <br>
    <br>
    <table class="table" style="width: 50%;">
        <thead>
          <tr>
            <th scope="col">Check</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hora</th>
            <th scope="col">Motivo de consulta</th>
          </tr>
        </thead>
        <tbody>
          {% for elemento in lista %}
          <tr>
            <th scope="row"><input type="checkbox" style="width: 5%;" class="form-check-input" name="check"></th>
            <td>{{elemento.nombre}}</td>
            <td>{{elemento.hora}}</td>
            <td>{{elemento.motivo}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div>
        <p>
          <br>
          <br>
        </p>
        <button type="submit" class="btn btn-info" action ="/comfi_Asist/">Confirmar Asistencía</button> 
        <button type="submit" class="btn btn-info" action ="/no_Asist/" style="margin-left: 1%;">No Asistencía</button>
      </div>
</div>


{% endblock %}