{% extends "plantilla.html" %}

{% block title %}Historial Paciente{% endblock %}

{% block content %}

<script src='https://kit.fontawesome.com/a076d05399.js'></script>}
<div align="center">
    <h1>Historial Paciente</h1>
</div>
<div align="center">
    <br>
    <br>
    <br>
    <table class="table" style="width: 50%; background: ">
        <thead>
          <tr>
            <th scope="col">Asistencia</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Medico</th>
            <th scope="col">Motivo de consulta</th>
          </tr>
        </thead>
        <tbody>
          {% for elemento in lista %}
            <tr>
              {% if  elemento.programada %}
              <th> 
                <i style='font-size:24px;color: blue;margin-left: 25%;' class='far fa-calendar-alt'>
                </i>
              </th> 

              {% elif  elemento.asistencia %}
              <th> 
                <i style='font-size:24px;color:rgb(0, 128, 38);margin-left: 25%;' class='far fa-calendar-check'>
                </i>
              </th>           
              
              {% else %}                 
              <th> 
                <i style='font-size:24px;color:red; margin-left: 25%;' class='far fa-calendar-times'>
                </i>
              </th>
              {% endif %}  

            <td>{{elemento.fecha}}</td>
            <td>{{elemento.hora}}</td>
            <td>{{elemento.especialidad}}</td>
            <td>{{elemento.medico}}</td>
            <td>{{elemento.motivo}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}