{% extends "plantilla.html" %}

{% block title %}Historial Paciente{% endblock %}

{% block content %}

<div align="center">
    <h1>Historial Paciente</h1>
</div>
<div align="center">
    <br>
    <br>
    <br>
    <table class="table" style="width: 50%;">
        <thead>
          <tr>
            <th scope="col">Asistencia</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Medico</th>
            <th scope="col">Motivo de consulta</th>
          </tr>
        </thead>
        <tbody>
          {% for elemento in lista %}
            <tr>
              <th scope="row">1</th>
            <td>{{elemento.asistencia}}</td>
            <td>{{elemento.fecha}}</td>
            <td>{{elemento.hora}}</td>
            <td>{{elemento.especialidad}}</td>
            <td>{{elemento.medico}}</td>
            <td>{{elemento.motivo}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>


{% endblock %}