{% extends "plantilla.html" %}

{% block title %}Informe IPS{% endblock %}

{% block content %}

<div align="center">
    <h1>Informe IPS</h1>
</div>
<hr>
<div align="center">
    <h3 style="margin-right: 46%;">Seleccionar Fecha </h3>
    <br>
    <form action="/selectFecha/" method="GET" style="width: 25%;">
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="fecha"/>
      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
      </div>
      <br>  
      <br>
      <input type="submit" class="btn btn-success" value="Seleccionar Fecha">
    </form>
    <br>
</div>
<br>
<div >
    <hr>
    <h3 style="margin-left: 20%;">Informe Médico</h3>
    <br>
    <div align= "center">
      <h5>Seleccionar Médico</h5>
      <br>
      <select name="medicos" >
          <option selected="selected" disabled>Selecciona la opción ...</option>
                  <option value="#">Francisco</option>
                  <option value="#">Pedro</option>
      </select> 
      <br>
      <br>
      <br>

    <table class="table" style="width: 50%;">
        <thead>
          <tr>
            <th scope="col">Nombre Paciente</th>
            <th scope="col">Número de Citas</th>
            <th scope="col">Motivo de Consulta</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          {% for athlete in lista %}
            <tr>
              <th scope="row">1</th>
              <td>athlete</td>
              <td>athlete</td>
              <td>athlete</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<hr>
<div align="center">
    <h3 style="margin-right: 46%;">Citas</h3>
    <br>
    <br>
    <table class="table" style="width: 50%;">
        <thead>
          <tr>
            <th scope="col">Citas Realizadas</th>
            <th scope="col">Citas Canceladas</th>
            <th scope="col">Citas Confirmadas Automatico</th>
            <th scope="col">Citas Confirmadas Manual</th>
            <th scope="col">Motivo de consulta</th>
          </tr>
        </thead>
        <tbody>
          {% for athlete in lista %}
            <tr>
              <th scope="row">1</th>
              <td>athlete</td>
              <td>athlete</td>
              <td>athlete</td>
              <td>athlete</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<script>
  $(function () {
      $("#datetimepicker1").datetimepicker({
          format: 'DD/MM/YYYY HH:mm',
      });
  });
</script>

{% endblock %}