{% extends "plantilla.html" %}

{% block title %}Login IPS{% endblock %}

{% block content %}
<html>
    <head>
    </head>
    <body>  
        <div align="center">
            <h1>Bienvenido a IPS ACME</h1>
        </div>
          <div id="login">
            </form>

              <h1>Login</h1>
              <br>

            <form action="/logearse/" method="GET">
                <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-info">Login</button>
            </form>

                <hr>
                <a href="/registro">No tiene usuario, click aquí</a>
              </div>
            
          </div>  
    </body>
    <style>
        #login {
            width: 500px;
            border: 1px solid #CCCCCC;
            background-color: #FFFFFF;
            margin: auto;
            margin-top: 80px;
            padding: 20px;
        }
    </style>
</html>
{% endblock %}

