{% extends "plantilla.html" %}

{% block title %}Menu Administrador{% endblock %}

{% block content %}

<div align="center">
    <h1>Menu Administrador</h1>
</div>
<div>
    <br>
    <br>
    <h4 style="text-align: center;">
      Bienvenido, {{userlogeado}}
      <br>
      <br>
    </h4>
    <p align="center">
        Este es el menu que le permite hacer sus acciones como administrador:
    </p>
      <br>
      <br>
    <hr>
</div>
<nav class="navbar navbar-expand-lg " style="width: 350px; margin-left: 40%; background-color:rgb(0, 178, 248);">
<div class="collapse navbar-collapse" id="navbarNav" >
    <div align="center">
        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" style="color:white;" href="/agregar_Medico">Agregar Nuevo Médico   <span class="sr-only">(current)</span></a> 
            </li> 
            <li class="nav-item active">
              <a class="nav-link" style="color: white;" href="/informe_IPS">  Ver informe IPS <span class="sr-only">(current)</span></a> 
            </li> 
          </ul>
    </div>
</div>
</nav>
<hr>
<div style="text-align: center;">
  <br>
  <br>
  <button type="submit" class="btn btn-info" action ="/LogOut/">Cerrar Sesión</button>
</div>

{% endblock %}