{% extends "plantilla.html" %}
{% load static %}
{% block title %}Principal{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<body>

    <div align="center">
        <h2>¿Quienes Somos?</h2>
    </div>
    <div align="center">
        <p>
            Somos una IPS enfocada en tu salud
        </p>
        <div>
            <img src="{% static "img/GettyImages-1211152561-1.jpg" %}" style="width:500px; height:300px">
        </div>
        <h2>¿Desea agendar una cita?</h2>
        <p>
            Para agendar su cita lo puede hacer web dando click en el botón que se encuentra a continuación:
        </p>
        <hr>
        <form action="/login/">
            <input type="submit" class="btn btn-primary" value="Agendar Cita"/>
        </form>
    </div>
</body>
</html>
{% endblock %}