{% extends "plantilla.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div align="center">
    <h1>Recuperar Contraseña</h1>
</div>
<hr>
<div align="center">
    <div>
        <br>
    </div>
    <div style="margin-bottom:30px">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
               {{message}}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <h4>Ingrese su correo </h4>
          <br> 
          <input type="email" name="email" width="48px" aria-describedby="emailHelp">
          <small id="emailHelp"  class="form-text text-muted">Ingresa tu correo electronico.</small>
        </div> 
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}