{% extends "plantilla.html" %}

{% block title %}Agregar Medico{% endblock %}

{% block content %}
<h1 style="text-align: center;">Agregar Médico</h1>
    <hr>
<form action="/agregarNuevoMedico/" method="POST">
    {% csrf_token %}
    <div class="form-row" style="margin-left: 75px;">
      <div class="form-group col-md-6">
        <h3 for="nombre">Nombre</h3>
        <hr>
        <div>
            <p>Primer Nombre: </p> <input type="name"  class="form-control" name="pri_Nombre_Med">
            <p>Segundo Nombre: </p> <input type="name" class="form-control" name="seg_Nombre_Med">
            <p>Primer Apellido: </p> <input type="name" class="form-control" name="pri_Apellido_Med">
            <p>Segundo Nombre: </p> <input type="name" class="form-control" name="seg_Apellido_Med">
        </div>
        <br>
        <hr>
        <div>
            <h3>Especialidad: </h3> <br>
            <input type="name"  class="form-control" name="pri_Nombre_Med">

        </div>
        <br>
        <hr>
        <h3>Horario: </h3> 
        <div>
            <br>
            <p>Entrada: </p>
            <input type="name"  class="form-control" name="horario_Entrada">
            <em>* Formato: Hora:Minuto:Segundo</em>
            <br>
            <br>
            <p>Salida: </p>
            <input type="name"  class="form-control" name="horario_Salida">
            <em>* Formato: Hora:Minuto:Segundo</em>
            <br>
        </div>
        <div style="text-align: center;">
            <hr>
            <button type="submit" class="btn btn-primary">Agregar Medico</button>
        </div>
    </div>
    </div>
    </form>
    
    {% endblock %}