{% extends "plantilla.html" %}

{% block title %}Registro IPS{% endblock %}

{% block content %}

<div style="margin-bottom:30px">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
        {{message}}
        </div>
    {% endfor %}
    </ul>
    {% endif %}
</div>

<h1 style="text-align: center;">Formulario de Registro</h1>
    <hr>
<form action="/registrarse/" method="GET">
    <div class="form-row" style="margin-left: 75px;">
      <div class="form-group col-md-6">
        <h3 for="nombre">Nombre</h3>
        <hr>
        <div>
            <p>Primer Nombre: </p> <input type="name"  class="form-control" required name="pri_Nombre">
            <p>Segundo Nombre: </p> <input type="name" class="form-control" required name="seg_Nombre">
            <p>Primer Apellido: </p> <input type="name" class="form-control" required name="pri_Apellido">
            <p>Segundo Nombre: </p> <input type="name" class="form-control" required name="seg_Apellido">
            <p>Edad: </p> <input type="number" class="form-control" required name="edad">
        </div>
        <hr>
            <h3 for="document">Documento</h3>
            <hr>
            <p>Tipo de Documento: </p>
            <div>
                <select required name="tipo_documento" >
                    <option selected="selected" disabled>Selecciona la opción ...</option>
                            <option value="CC">Cédula de ciudadania</option>
                            <option value="TI">Tarjeta de identidad</option>
                            <option value="CE">Cédula de extranjería</option>
                            <option value="PE">Pasaporte</option>
                </select>
                <br>
                <br>
            </div>
            <p>Número de Documento: </p> <input type="number" class="form-control" required name="Documento_Id">
            <hr>
            <h3 for="nombre">Métodos de contacto</h3>
            <hr>
            <div>
                <p>Correo: </p> <input type="email" class="form-control" required name="email">
                <p>Telefono: </p> <input type="number" class="form-control" required name="telefono">
                <p>WhatsApp: </p> <input type="number" class="form-control" required name="whatsapp">
            </div>
            <hr>
            <h3 for="nombre">Dirección</h3>
            <hr>
            <div>
                <p>Ciudad: </p> <input type="name" class="form-control" required name="ciudad">
                <p>Barrio: </p> <input type="name" class="form-control" required name="barrio">
                <p>Complemento: </p> <input type="name" class="form-control"  name="complemento">
            </div>
            <hr>
            <h3 for="nombre">Condiciones médicas</h3>
            <hr>
            <div>
                <p>Hipertensión. </p>
                <div>
                    <select required name="hipertension" >
                        <option selected="selected" disabled>Selecciona la opción ...</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                    </select>
                    <br>
                    <br>
                </div>
                <p> Diabetes. </p>
                <div>
                    <select required name="diabetes" >
                        <option selected="selected" disabled>Selecciona la opción ...</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                    </select>
                    <br>
                    <br>
                </div>
                <p>Problemas cardiacos: </p> 
                <div>
                    <select required name="cardiacos" >
                        <option selected="selected" disabled>Selecciona la opción ...</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                    </select>
                    <br>
                    <br>
                </div>
                <p>Otros: </p>
                <textarea name="otros" rows="10" cols="50"> </textarea>
            </div>
            <hr>
            <h3 for="nombre">EPS</h3>
            <hr>
            <div>
                <p>Nombre EPS: </p> <input type="name" class="form-control" required name="eps">
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <hr>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

{% endblock %}