{% extends "plantilla.html" %}

{% block title %}Agregar Medico{% endblock %}

{% block content %}
<h1 style="text-align: center;">Agregar Médico</h1>
    <hr>
<form action="/AgregarMedico/" method="POST">
    {% csrf_token %}
    <div class="form-row" style="margin-left: 75px;">
      <div class="form-group col-md-6">
        <h3 for="nombre">Nombre</h3>
        <hr>
        <div>
            <p>Primer Nombre: </p> <input type="name"  class="form-control" required name="pri_Nombre_Med">
            <p>Segundo Nombre: </p> <input type="name" class="form-control" required name="seg_Nombre_Med">
            <p>Primer Apellido: </p> <input type="name" class="form-control" required name="pri_Apellido_Med">
            <p>Segundo Apellido: </p> <input type="name" class="form-control" required name="seg_Apellido_Med">
            <p>Edad: </p> <input type="number" class="form-control" required name="edad">
        </div>
        <br>
        <hr>
            <h3 for="document">Documento</h3>
            <br>
            <p>Tipo de Documento: </p>
            <div>
                <select required name="tipo_documento" >
                    <option selected="selected" disabled>Selecciona la opción ...</option>
                            <option value="CC">Cédula de ciudadania</option>
                            <option value="TI">Tarjeta de identidad</option>
                            <option value="CE">Cédula de extranjería</option>
                            <option value="PE">Pasaporte</option>
                </select>
                <br>
                <br>
            </div>
            <p>Número de Documento </p> <input type="number" class="form-control" required name="Documento_Id">
        <hr>
        <div>
            <h3>Especialidad </h3>
            {{form.especialidades}}
        </div>
        <br>
        <hr>
            <h3 for="document">Correo</h3>
            <br>
            <input type="email" class="form-control" required name="email">
        <hr>
        <h3>Horario </h3> 
        <div>
            <br>
            <p>Entrada:</p>
            <input type="time"  class="form-control" required name="horario_Entrada">
            <em>* Formato: Hora:Minuto:Segundo</em>
            <br>
            <br>
            <p>Salida: </p>
            <input type="time"  class="form-control" required name="horario_Salida">
            <em>* Formato: Hora:Minuto:Segundo</em>
            <br>
        </div>
        <br>
        <hr>
        <h3>Credenciales </h3> 
        <div>
            <br>
            <p>Usuario:</p>
            <input type="text"  class="form-control" required name="username" maxlength="15">
            <br>
            <br>
            <p>Contraseña: </p>
            <input type="password"  class="form-control" required name="password" maxlength="15">
            <br>
        </div>
        <div style="text-align: center;">
            <hr>
            <button type="submit" class="btn btn-primary">Agregar Medico</button>
        </div>
    </div>
    </div>
    </form>
    {% endblock %}